<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nirvana</title>
    <link rel="stylesheet" href="/styles/tipografias/fuentes.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <header class="nav">
        <img src="images/logo.png" alt="" class="logo">
        <ul class="nav__list">
            <li class="nav__element"><a href="#">HOME</a></li>
            <li class="nav__element"><a href="/music">MUSIC</a></li>
            <li class="nav__element"><a href="#">ABOUT</a></li>
            <li class="nav__element"><a href="#">VIDEOS</a></li>
            <li class="nav__element"><a href="#">MAILINGLIST</a></li>
            <li class="nav__element"><a href="#">MERCH</a></li>

            <li class="nav__element">
                <a href="#">
                    <img src="images/twitter.png" alt="" class="icon">
                </a>
            </li>

            <li class="nav__element">
                <a href="#">
                    <img src="images/facebook.png" alt="" class="icon">
                </a>
            </li>

            <li class="nav__element">
                <a href="#">
                    <img src="images/youtube.png" alt="" class="icon">
                </a>
            </li>

            </li>
        </ul>
    </header>

    <div class="botones">
        <button class="button btn__juego1">Cancion 1</button>
        <button class="button btn__juego2">Cancion 2</button>
        <button class="button btn__juego3">Cancion 3</button>
    </div>
    <div class="juegos">
        <div id="juego"></div>
        <div id="juego2"></div>
        <div id="juego3"></div>

    </div>


    <footer class="map">
        <div class="map__img">
            <img src="images/logo.png" alt="" class="logoFinal">
        </div>

        <div class="map__menu">


            <ul class="map__list">
                <li><a class="map__element" href="#"><strong>HOME</strong></a></li>
                <li><a class="map__element" href="/music">MUSIC</a></li>
                <li><a class="map__element" href="#">ABOUT</a></li>
                <li><a class="map__element" href="#">VIDEOS</a></li>
                <li><a class="map__element" href="#">MAILINGLIST</a></li>
                <li><a class="map__element" href="#">MERCH</a></li>
            </ul>


            <ul class="map__list">
                <li><a class="map__element" href="#"><strong>MUSIC</strong></a></li>
                <li><a class="map__element" href="#">ALL</a></li>
                <li><a class="map__element" href="#">VINYL</a></li>
                <li><a class="map__element" href="#">STUDIO</a></li>
                <li><a class="map__element" href="#">DVD / BLUE-RAY</a></li>
                <li><a class="map__element" href="#">DELUXE EDITION</a></li>
                <li><a class="map__element" href="#">COMPILATION</a></li>
            </ul>

            <ul class="map__list">
                <li><a class="map__element" href="#"><strong>ABOUT</strong></a></li>
                <li><a class="map__element" href="#">NIRVANA TIMELINE</a></li>
            </ul>

            <ul class="map__list">
                <li><a class="map__element" href="#"><strong>VIDEOS</strong></a></li>
            </ul>

            <ul class="map__list">
                <li><a class="map__element" href="#"><strong>MAILINGLIST</strong></a></li>
            </ul>

            <ul class="map__list">
                <li><a class="map__element" href="#"><strong>MERCH</strong></a></li>
                <li><a class="map__element" href="#">HOME</a></li>
                <li><a class="map__element" href="#">APPAREL</a></li>
                <li><a class="map__element" href="#">VINYL</a></li>
                <li><a class="map__element" href="#">ACCESSORIES</a></li>
                <li><a class="map__element" href="#">SPECIALS</a></li>
            </ul>
        </div>

        </div>


        <ul class="map__icon">
            <li class="map__icons">
                <a href="#">
                    <img src="images/twitter.png" alt="">
                </a>
            </li>

            <li class="map__icons">
                <a href="#">
                    <img src="images/facebook.png" alt="">
                </a>
            </li>

            <li class="map__icons">
                <a href="#">
                    <img src="images/youtube.png" alt="">
                </a>
            </li>

        </ul>

        <p class="map__final">© Copyright 2016 Universal Music Enterprises. All right reserved. | Privacy Policy |
            Terms
            of Use</p>

    </footer>


    <script src="/javascript/easeljs.js"></script>
    <script src="/javascript/preloadjs.js"></script>
    <script src="/javascript/soundjs.js"></script>
    <script src="/javascript/tweenjs.js"></script>
    <script src="/javascript/ruleta.js"></script>

    <!--Paso 1-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <script src="/javascript/music.js"></script>

</body>

</html>