<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
       <header class="nav">
        <img src="/images/logo.png" alt="" class="logo">
        <ul class="nav__list">
            <li class="nav__element"><a href="#">HOME</a></li>
            <li class="nav__element"><a href="#">MUSIC</a></li>
            <li class="nav__element"><a href="#">ABOUT</a></li>
            <li class="nav__element"><a href="#">VIDEOS</a></li>
            <li class="nav__element"><a href="#">MAILINGLIST</a></li>
            <li class="nav__element"><a href="#">MERCH</a></li>

            <li class="nav__element">
                <a href="#">
                    <img src="/images/twitter.png" alt="">
                </a>
            </li>

            <li class="nav__element">
                <a href="#">
                    <img src="/images/facebook.png" alt="">
                </a>
            </li>

            <li class="nav__element">
                <a href="#">
                    <img src="/images/youtube.png" alt="">
                </a>
            </li>

            </li>
        </ul>
    </header>
</body>
</html>