<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <title>NirvanaStore</title>
</head>

<body>
    <section class="product" style="background-image:/image/back.png">
        <div class="product__img">
            <img src="{{imagen}}" alt="">
        </div>
        <div class="product__description">
            <p>Get the best benefits and know more
                about nirvana with their products.dssds
                sdasdasdasdasd
                sad
                asdsadsasad
                s
                dsads</p>

            <p>
                $50.00
            </p>

            <button class="button"><strong>Buy Now</strong></button>
        </div>

    </section>

</body>

</html>