<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NirvanaStore</title>
    <link rel="stylesheet" href="/styles/tipografias/fuentes.css">
    <link rel="stylesheet" href="/styles/tienda.css">
</head>

<body>
    
    <header class="nav">
        <img src="images/logo.png" alt="" class="logo">
        <ul class="nav__list">
            <li class="nav__element"><a href="#">HOME</a></li>
            <li class="nav__element"><a href="#">MUSIC</a></li>
            <li class="nav__element"><a href="#">ABOUT</a></li>
            <li class="nav__element"><a href="#">VIDEOS</a></li>
            <li class="nav__element"><a href="#">MAILINGLIST</a></li>
            <li class="nav__element"><a href="#">MERCH</a></li>
            
            <li class="nav__element">
                <a href="#">
                    <img src="images/twitter.png" alt="">
                </a>
            </li>
            
            <li class="nav__element">
                <a href="#">
                    <img src="images/facebook.png" alt="">
                </a>
            </li>
            
            <li class="nav__element">
                <a href="#">
                    <img src="images/youtube.png" alt="">
                </a>
            </li>
            
        </li>
    </ul>
</header>

<section class="banner">

    <section class="banner__section">
     <h1 class="banner__section__h1" >Store</h1>
    </section>
    
    <article class="banner__descripcion">


        <section class="banner__info">
            
            <div class="banner__title">
                <h1 class="banner__title__h2">Categories</h1>
            </div>
            
            <div class="banner__descript">
                <h2>Best sellers</h2>
                <p>Week</p>
                <p>Month</p>
                <p>Year</p>
            </div>
            
            <div class="banner__descript">
                <h2>Price</h2>
                <p>Since 50,00</p>
                <p>Since 100,00</p>
                <p>Since 200,00</p>
            </div>

            <div class="banner__descript">
                <h2>Product</h2>
                <p>Tshirt</p>
                <p>CD</p>
                <p>Card</p>
            </div>
        </section>
    
        
        <section class="banner__img">
            
            <section class="banner__img__cont">
                <section class="banner__img__cont__ele">
                    <img src="images/a.png" alt="" class="imag">
                    
                    <section class="banner__img__cont__desc">
                        <h4 class="banner__img__cont__desc__h4"><strong>Wishkah</strong></h4>
                        <h6 class="banner__img__cont__desc__h6">CD</h6>
                        <h6 class="banner__img__cont__desc__h7">100,00 $USD</h6>
                    </section>
                </section>
                <section class="banner__img__cont__ele">
                    <img src="images/c.png" alt="" class="imag">

                    <section class="banner__img__cont__desc">
                        <h4 class="banner__img__cont__desc__h4"><strong>Gold card</strong></h4>
                        <h6 class="banner__img__cont__desc__h6">Card</h6>
                        <h6 class="banner__img__cont__desc__h7">200,00 $USD</h6>
                    </section>
                </section>
                <section class="banner__img__cont__ele">
                    <img src="images/d.png" alt="" class="imag">

                    <section class="banner__img__cont__desc">
                        <h4 class="banner__img__cont__desc__h4"><strong>Smiley tee</strong></h4>
                        <h6 class="banner__img__cont__desc__h6">Tshirt</h6>
                        <h6 class="banner__img__cont__desc__h7">50,00 $USD</h6>
                    </section>
                </section>
            </section>
            
            <section class="banner__img__cont1">
                <section class="banner__img__cont1__ele">
                    <img src="images/e.png" alt="" class="imag">

                    <section class="banner__img__cont__desc">
                        <h4 class="banner__img__cont__desc__h4"><strong>Vestibule tee</strong></h4>
                        <h6 class="banner__img__cont__desc__h6">Tshirt</h6>
                        <h6 class="banner__img__cont__desc__h7">50,00 $USD</h6>
                    </section>
                </section>
                <section class="banner__img__cont1__ele">
                    <img src="images/f.png" alt="" class="imag">

                    <section class="banner__img__cont__desc">
                        <h4 class="banner__img__cont__desc__h4"><strong>Nevermine</strong></h4>
                        <h6 class="banner__img__cont__desc__h6">CD</h6>
                        <h6 class="banner__img__cont__desc__h7">100,00 $USD</h6>
                    </section>
                </section>
                <section class="banner__img__cont1__ele">
                    <img src="images/g.png" alt="" class="imag">

                    <section class="banner__img__cont__desc">
                        <h4 class="banner__img__cont__desc__h4"><strong>Sliver</strong></h4>
                        <h6 class="banner__img__cont__desc__h6">CD</h6>
                        <h6 class="banner__img__cont__desc__h7">100,00 $USD</h6>
                    </section>
                </section>
            </section>
        </section>
        
    </article>
    
</section>
    

</body>

</html>