<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <title>NirvanaStore</title>
</head>

<body>
    <header class="nav">
        <img src="images/logo.png" alt="" class="logo">
        <ul class="nav__list">
            <li class="nav__element"><a href="#">HOME</a></li>
            <li class="nav__element"><a href="#">MUSIC</a></li>
            <li class="nav__element"><a href="#">ABOUT</a></li>
            <li class="nav__element"><a href="#">VIDEOS</a></li>
            <li class="nav__element"><a href="#">MAILINGLIST</a></li>
            <li class="nav__element"><a href="#">MERCH</a></li>

            <li class="nav__element">
                <a href="#">
                    <img src="images/twitter.png" alt="">
                </a>
            </li>

            <li class="nav__element">
                <a href="#">
                    <img src="images/facebook.png" alt="">
                </a>
            </li>

            <li class="nav__element">
                <a href="#">
                    <img src="images/youtube.png" alt="">
                </a>
            </li>

        </ul>
    </header>


    <section class="stuff">

        <article class="stuff__descripcion">
            <section class="stuff__info">

                <div class="stuff__title">
                    <h2>Categories</h2>
                </div>

                <div class="stuff__descript">
                    <h3>Best sellers</h3>
                    <p class="stuff__descript__p">Week.</p>
                    <p class="stuff__descript__p">Month</p>
                    <button class="button"><strong>Year</strong></button>
                </div>
            </section>

            <section class="stuff__img">
                <img src="images/cards.png" alt="">
            </section>


            <section class="list">
                <ul class="list__list">
                    <li class="list__element"><a href="/tienda/nevermine">
                            <img src="images/baby.png" alt="">
                    </li>
                    <li class="list__element"><a href="#">
                            <img src="images/book.png" alt="">
                    </li>
                    <li class="list__element"><a href="#">
                            <img src="images/foto.png" alt="">
                    </li>
                    <li class="list__element"><a href="#">
                            <img src="images/baby.png" alt="">
                    </li>
                    <li class="list__element"><a href="#">
                            <img src="images/liveP.jpg" alt="">
                    </li>
                    <li class="list__element"><a href="#">
                            <img src="images/orange.png" alt="">
                    </li>

                </ul>
            </section>

        </article>

    </section>


</body>

</html>