/** Carga de las tipografias usadas en el proyecto**/

@font-face {
    font-family: "NIRVANA";
    src: url('tipografias/nirvana.ttf'); /* IE9 Compat Modes */
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}



a{
    text-decoration: none;
}

.button{
    width: 12em;
    height: 3.5em;
    background: #E1AC33;
    border-radius: 1.4em;
    border: 0;
    transition: all .5s ease;
    
}

.button:hover{
    background: #B77A00;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    
    &__list{
        display: flex;
        flex-direction: row;
        padding: 0;
        font-family:"Helvetica Nue";
    }
    
    &__element{
        text-decoration: none;
        display: flex;
        a{
            display: inline;
            padding: 2.5em 1em;
            color: gray;
            justify-content: center;
            list-style: none;
            text-align: center;
            transition: all .5s ease;
            max-height: 6em;
            font-family: "Helvetica";
            
        }
        
        a:hover{
            color: white;
            border-bottom: 5px solid white;
        }
    }
}

.nav__element:active{
    text-decoration: underline;
    color: white;
    text-decoration: underline;
}

.logo{
    height: 4em;
    margin:0.7em 4em; 
}

footer{
    background: black;
    color: white;
}

.map{
    padding: 20px;

    &__menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        ul{
            padding: 30px;
        }
    }

    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__final{
        text-align: center;
    }
}

a{color: white;}



*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



a{
    text-decoration: none;
}

.button{
    width: 12em;
    height: 3.5em;
    background: #E1AC33;
    border-radius: 1.4em;
    border: 0;
    transition: all .5s ease;
    
}

.button:hover{
    background: #B77A00;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    
    &__list{
        display: flex;
        flex-direction: row;
        padding: 0;
        font-family:"Helvetica Nue";
    }
    
    &__element{
        text-decoration: none;
        display: flex;
        a{
            display: inline;
            padding: 2.5em 1em;
            color: gray;
            justify-content: center;
            list-style: none;
            text-align: center;
            transition: all .5s ease;
            max-height: 6em;
            font-family: "Helvetica";
            
        }
        
        a:hover{
            color: white;
            border-bottom: 5px solid white;
        }
    }
}

.nav__element:active{
    text-decoration: underline;
    color: white;
    text-decoration: underline;
}

.logo{
    height: 4em;
    margin:0.7em 4em; 
}


.banner{
    
    &__video{
        position: absolute;
        padding-left:25%;
        width: 100%;
        padding-right: 21.6%;
        background: black; 
        video{
            
            width: 45em;
            max-height: 50em;
            
        }
    }
    
    &__descripcion{
        position: relative;
        display: flex;
        flex-direction: row;
        padding-top: 3em;
        padding-bottom: 4.5em;
        
    }
    
    &__info{  
        width: 45%;
        padding-left: 4em;
    }
    
    &__title{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        padding-bottom: 1.5em;
        color: #E1AC33;
        
        p {     
            font-family: "NIRVANA";
            font-size: 460%;
        }
        
        .card{
            font-size: 190%;
            padding-top: 1.3em;
            padding-left: 0.7em;
            font-family: Arial, Helvetica;
        }    
        
    }
    
    &__descript{
        color: white;
        
        h2{            
            font-size: 170%;
            padding-bottom: 1em;
        }
        
        p{ 
            width: 19em;
            padding-bottom: 1em;
            font-size: 1.3em;
        }
        
        button{  
            font-size: 100%;
            color: black;        
        }
    }
    
    &__img{
        width: 10em;
        
    }
}


.specifications{
    
    display: flex;
    background: black;
    padding: 8em 9.5em;  
    justify-content: space-between;
    text-align: center;
    
    &__table{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 50px 0;
        background: #252223;
        color: white;
        width: 20em;
        height: 27em;
        border-radius: 30px;
        
        &__button{
            color: white;
            width: 12em;
            height: 3.5em;
            background: #E1AC33;
            border-radius: 1.4em;
            border: 0;
            transition: all .5s ease;
        }
    }
    
    .table--black{
        background: #252223;
    }
    
    .table--gray{
        background: #989898;
    }
    
    .table--yellow{
        background: #905D00;
    }   
    
    &__title{
        font-size: 1.2em;
        font-weight:bold;
        padding-top: 1em;
    }
    
    li{
        text-align: initial;     
        font-size: 1.1em;
        width: 10em;
        list-style-image: url('../images/face.png');   
    }
}

.benefits{
    
    background-image: url("../images/back2.png");
    background-size: cover;
    
    &__title{
        color: #E1AC33;
        text-align: center;
        font-size: 2.5em;
    }
    
    &__cont{
        display: flex;
        justify-content: center;
        height: 600px;
        align-items: center;        
    }
    
    &__info{  
        background: #9898988c; 
        color: white;
        width:18em;
        height: 26em;
        border-radius: 30px;
        margin: 0 1em;
        text-align: center;
        
        img{
            width:10em;
            margin: 2em 4em 4em 4em;
        }
        
        p{
            font-family: "NIRVANA";
            font-size: 2.5em;
            padding-top: 0.5em;
        }
        
        .button{
            color: white;
            border-radius: 1em;
            align-items: baseline;
        }
    }   
}

.gallery{
    background: black;
    
    
    &__title{
        padding: 3em 1em;
        color: #E1AC33;
        text-align: center;
        font-size: 2.5em;
    }
    
    &__cont{
        flex-wrap: wrap;
        display: flex;    
        height: 475px;
        margin: 0 4em 3em 4em;
        
        &__second{
            margin: 1.6em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        
        &__third{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        
        &__fourt{
            margin: 2em 0 3em 1.5em; 
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        
        &__button{
            text-align:  center;
            padding: 0 2em 3em 2em;
            
            &__p{
                font-size: 2em;
            }
            
        }
    }
    
}

.interaction{
    
    &__video{
        
        video{
            display: none;
        }
    }
}

.newsletter{
    
    width: 100%;
    text-align: center;
    
    &__title{
        font-family: "NIRVANA";
        font-size: 3em;
        padding: 0.5em;
    }
    
    &__p{
        font-size: 1.5em;
    }
    
    &__input{
        text-align: center;
        width: 100%;

        padding: 1em;
        border-radius: 1em;
        
        &__text{
            border-radius: 0.5em;
        }
    }

    &__buttonCont{
        margin: 1em;
        text-align: center;
    }
}

.publicidad{
    
    display: flex;
    background: #A48222;
    
    &__info{
        color: white;
        width: 30%;
        margin: 2em 5em; 
        align-items: center;
        text-align: center;
        
    }
    
    h1{
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        font-size: 2em;
    }
    
    p{
        padding-bottom: 1em;
        width: 10em;    
        text-align: center;
        margin: auto;
        font-size: 1.5em;
    }
    
    .button{
        background: white;
        width: 9em;
        border-radius: 1em;
        font-size: 1em;
        
        
    }
    
    &__img{
        padding:0 0.5em; 
        margin: 1.5em 0;
    }
}

.publicidad{
    
    display: flex;
    background: #A48222;
    
    &__info{
        color: white;
        width: 30%;
        padding-left: 3em;
        margin: 5em;  
        background: red;
        
    }
    
    h1{
        margin-left: 3em;
        padding-bottom: 1em;
        background: forestgreen;
    }
    
    p{
        padding-bottom: 1em;
        background: fuchsia;
        width: 10em;
        
        text-align: center;
    }
    
    .button{
        background: white;
        font-size: 100%;
    }
    
    &__img{
        padding:0 0.5em; 
        margin: 1.5em 0;
    }
}

.map{
    display: flex;
    background: black;
    flex-direction: column;
    
    &__img{
        padding: 1em 5em;
    }
    
    &__menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 3em;
        
        justify-content: space-between;
    }
    
    &__list{
        padding: 0;
    }
    
    &__list li:first-of-type{
        margin-bottom: 10px;
        
        
    }
    
    &__list:li{
        padding-bottom: 0.3em;
        width: 7em;
        
    }
    
    li{
    
        padding: 0;
        list-style-type: none;
        width: 7em;
    }
    
    &__element {
        color: white;
        font-size: 0.8em;    
        
    }
    
    &__icon{     
        display: flex;
        flex-direction: row;
        width: 7em;
        margin: 1em 0;
        align-self: center;
        text-align: center;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
    }
    
    &__final{
        text-align: center;
        width: 100%;
        color: white;
        padding-bottom: 2em;  
    }    
}


.logoFinal{
    width: 14em;
}

.botones{  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    
}



body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.juegos{
  padding-left:300px;
  background: #8F8F8F;

}

.imgdisc{
    display: flex;
    background: #252223;

}


