/** Carga de las tipografias usadas en el proyecto**/

@font-face {
    font-family: "NIRVANA";
    src: url('tipografias/nirvana.ttf'); /* IE9 Compat Modes */
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



a{
    text-decoration: none;
}

.button{
    width: 12em;
    height: 3.5em;
    background: #E1AC33;
    border-radius: 1.4em;
    border: 0;
    transition: all .5s ease;
    
}

.button:hover{
    background: #B77A00;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    
    &__list{
        display: flex;
        flex-direction: row;
        padding: 0;
        font-family:"Helvetica Nue";
    }
    
    &__element{
        text-decoration: none;
        display: flex;
        a{
            display: inline;
            padding: 2.5em 1em;
            color: gray;
            justify-content: center;
            list-style: none;
            text-align: center;
            transition: all .5s ease;
            max-height: 6em;
            font-family: "Helvetica";
            
        }
        
        a:hover{
            color: white;
            border-bottom: 5px solid white;
        }
    }
}

.nav__element:active{
    text-decoration: underline;
    color: white;
    text-decoration: underline;
}

.logo{
    height: 4em;
    margin:0.7em 4em; 
}


.product__fondo{
    max-height: 7000px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 970px;
    
    
}








