


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.button {
  width: 12em;
  height: 3.5em;
  background: #E1AC33;
  border-radius: 1.4em;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.button:hover {
  background: #B77A00;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: black;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  font-family: "Helvetica Nue";
}

.nav__element {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__element a {
  display: inline;
  padding: 2.5em 1em;
  color: gray;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  max-height: 6em;
  font-family: "Helvetica";
}

.nav__element a:hover {
  color: white;
  border-bottom: 5px solid white;
}

.nav__element:active {
  text-decoration: underline;
  color: white;
  text-decoration: underline;
}

.logo {
  height: 4em;
  margin: 0.7em 4em;
}

.banner__video {
  position: absolute;
  padding-left: 25%;
  padding-right: 21.6%;
  background: black;
}

.banner__video video {
  width: 45em;
  max-height: 50em;
}

.banner__descripcion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 3em;
  padding-bottom: 4.5em;
}

.banner__info {
  width: 45%;
  padding-left: 4em;
}

.banner__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 1.5em;
  color: #E1AC33;
}

.banner__title p {
  font-family: "NIRVANA";
  font-size: 460%;
}

.banner__title .card {
  font-size: 190%;
  padding-top: 1.3em;
  padding-left: 0.7em;
  font-family: Arial, Helvetica;
}

.banner__descript {
  color: white;
}

.banner__descript h2 {
  font-size: 170%;
  padding-bottom: 1em;
}

.banner__descript p {
  width: 19em;
  padding-bottom: 1em;
  font-size: 1.3em;
}

.banner__descript button {
  font-size: 100%;
  color: black;
}

.banner__img {
  width: 10em;
}

.specificaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  padding: 8em 9.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.specificaciones__table {
  background: #252223;
  color: white;
  width: 20em;
  height: 27em;
  padding: 5em;
  border-radius: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.specificaciones .table--black {
  background: #252223;
}

.specificaciones .table--gray {
  background: #989898;
}

.specificaciones .table--yellow {
  background: #905D00;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/back.png");
  background-size: cover;
  padding: 160px 0;
  height: 100%;
}

.benefits__info {
  background: #989898;
  color: white;
  width: 18em;
  height: 26em;
  border-radius: 30px;
}

.benefits__info img {
  width: 10em;
  margin: 2em 4em;
}

.benefits__info h1 {
  background: green;
}

.publicidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #A48222;
}

.publicidad__info {
  color: white;
  width: 30%;
  padding-left: 3em;
  margin: 5em;
  background: red;
}

.publicidad h1 {
  margin-left: 3em;
  padding-bottom: 1em;
  background: forestgreen;
}

.publicidad p {
  padding-bottom: 1em;
  background: fuchsia;
  width: 10em;
  text-align: center;
}

.publicidad .button {
  background: white;
  font-size: 100%;
}

.publicidad__img {
  padding: 0 0.5em;
  margin: 1.5em 0;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map__img {
  padding: 1em 5em;
}

.map__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 3em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: darkblue;
}

.map__list {
  padding: 0;
}

.map__list li:first-of-type {
  margin-bottom: 10px;
}

.map__list:li {
  padding-bottom: 0.3em;
  width: 7em;
}

.map li {
  padding: 0;
  list-style-type: none;
  width: 7em;
}

.map__element {
  color: white;
  font-size: 0.8em;
}

.map__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 7em;
  margin: 1em 0;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.map__final {
  text-align: center;
  width: 100%;
  color: white;
  padding-bottom: 2em;
}

.logoFinal {
  width: 14em;
}
/*# sourceMappingURL=main.css.map */