* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica";
}

.centrarContenido {
  max-width: 1380px;
  margin: auto;
}

a {
  text-decoration: none;
}

.button {
  width: 12em;
  height: 3.5em;
  background: #E1AC33;
  border-radius: 1.4em;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.button:hover {
  background: #B77A00;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: black;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  font-family: "Helvetica Nue";
}

.nav__element {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__element a {
  display: inline;
  padding: 2.5em 1em;
  color: gray;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  max-height: 6em;
  font-family: "Helvetica";
}

.nav__element a:hover {
  color: white;
  border-bottom: 5px solid white;
}

.nav__element:active {
  text-decoration: underline;
  color: white;
  text-decoration: underline;
}

.logo {
  height: 4em;
  margin: 0.7em 4em;
}

.banner {
  background: black;
}

.banner__section__h1 {
  color: white;
  font-family: "Helvetica";
  font-size: 4em;
  padding: 0.2em 3em 0.2em 1em;
  background: #B77A00;
}

.banner__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 1.5em;
  color: #E1AC33;
}

.banner__descripcion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1em;
}

.banner__info {
  background: rgba(255, 255, 255, 0.562);
  width: 25%;
  margin: 0 1em 5em 4em;
  border: none;
  border-radius: 2.5em;
}

.banner__descript {
  padding: 2em 3em 2em 3em;
  color: white;
  font-family: "NIRVANA";
}

.banner__descript h2 {
  font-family: "NIRVANA";
  font-size: 100%;
  padding-bottom: 1em;
}

@font-face {
  .banner__descript h2 {
    font-family: "NIRVANA";
    src: url("./NIRVANA.TTF");
  }
}

.banner__descript p {
  width: 19em;
  padding-bottom: 1em;
  font-size: 50%;
}

.banner__descript button {
  font-size: 100%;
  color: black;
}

.banner__img {
  background: rgba(255, 255, 255, 0.562);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 48em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  margin: 0 4em 2em 3em;
  border: none;
  border-radius: 2.5em;
}

.banner__img__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  width: 55em;
  height: 11em;
  margin: 2em 3em 2em 3em;
}

.banner__img__cont__ele {
  background: rebeccapurple;
  padding: 0 1em 1em 1em;
}

.banner__img__cont1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  width: 55em;
  height: 11em;
  margin: 0 3em 2em 3em;
}

.banner__img__cont1__ele {
  background: rebeccapurple;
  padding: 0 1em 1em 1em;
}

.imag {
  width: 7.1em;
  height: 7.1em;
}

.product__img {
  background: url("/images/back3.png");
}
/*# sourceMappingURL=tienda.css.map */